*{ 
    padding: 0;
    margin: 0;
}

 
.banner{
    padding: 20% 0 20% 100% ;

    text-align: right;

    background-image: url("../img/banner.png");
    background-size: cover;
    border-bottom: 2px solid #eea920;
}
.banner p{
   
    font-size: 1.5em;
    font-weight: 700;
    color: #082149;
    
}
.banner span{
    font-size: 2em;
    font-weight: 700;
    color: #f7a600;

    margin-bottom: 200px;
}
.banner span img{
    position: absolute;

    top:330px;
    right: 10px;

}

/* Conteúdo e proposta do hotsite */

.container .contents{
    margin-top: 8vh;
}
.container .contents h1{
    margin-bottom: 40px;
    font-weight:700 ;
    color: #0c2a5b;
}

.container .contents ul li{
    color: #f7a600;
}

.container .contents p{
    margin-top: 40px;
    margin-bottom: 50px;
    word-spacing: 5px;
    color: #393f47;
}

/* Botões */
.container .option-buttons{
    margin:5px 0 70px 0;
    text-align:center ;
}
.container .option-buttons a{
    margin:10px 0 0 20px;
    padding: 10px;
}
.container .option-buttons a:nth-child(1){
    padding: 10px 53px 10px 53px;
   
}
.container .option-buttons a:nth-child(2){
    padding: 10px 25px 10px 25px;
    
 }